name: Test
permissions:
  contents: read
# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    name: Run tests
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5.0.1
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version: lts/*

      # Runs a single command using the runners shell
      - name: Install dependencies
        run: npm install

      # Runs a set of commands using the runners shell
      - name: Run the linter
        run: npm run lint

      # Runs a set of commands using the runners shell
      #- name: Run the tests
      #  run: npm test

      # Report Coverage
      #- name: Report coverage
      #  uses: codecov/codecov-action@v4.5.0
      #  with:
      #    token: ${{ secrets.CODECOV_TOKEN }}
      #    directory: ./coverage/
